@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');

body {
    text-align:center;
    font-family: 'Montserrat', sans-serif;
    background:#E9CCF3;
}
canvas {
    border: 2px solid rgb(151, 149, 149);
}
#score {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    width: 220px;
	height: 50px;
	margin: 25px auto 0;
	background: #E9CCF3;
	position: relative;
    box-sizing: border-box;
    padding-top: 15px;
	border-radius: 5px;
    font-size:x-large;
    vertical-align: middle;
  }
#score2 {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    width: 220px;
	height: 50px;
	margin: 25px auto 0;
	background: #E9CCF3;
	position: relative;
    box-sizing: border-box;
    padding-top: 15px;
	border-radius: 5px;
    font-size:x-large;
    vertical-align: middle;
  }
  .icon{
    display: inline-block;
    width: 250px;
	height: 50px;
	margin: 25px auto 0;
    margin-right: 35px;
    margin-left: 35px;
	background: #F5E4FB;
	text-align: center;
	position: relative;
    box-sizing: border-box;
    padding-top: 10px;
	border-radius: 5px;
    font-size:xx-large;
    vertical-align: middle;
}

.screen{
    padding-top: 15px;
}